body{
    background-color: black;
  }
  .main video {
  
    width: 100vw;
    
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
    z-index: -1;
  
    
  }
  #logo{
    width: 180px;
    height: 90px;
  }
  #about{
    color: white;
    background: transparent;
    
  }
  #account{
    font-size: 1.1rem;
    color: aquamarine;
    list-style: none;
  }
  li{
    list-style: none;
  }

  #cartbtn{
    border-style: none;
  }

  #cart{
    color: aquamarine;
    font-size: x-large;
    margin-right: 7px;
  }
  #web{
    text-align: center;
    margin-top: 200px;
  }
  .main h1{
    font-size: 3.7rem;
    text-align: center;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
  .main p{
    color: white;
    font-size: 1.7rem;
    padding: 20px;
  }
  #btn{
    border-radius: 20px;
    width: 220px;
    height: 50px;
  }
  .sale{
    margin-top: 60px;
    background-image: url("https://images.pond5.com/computer-coding-background-footage-090890180_prevstill.jpeg");
    background-repeat: no-repeat;
    
    
    
  }
  
  .sale h3{
    padding: 40px ;
    text-align: center;
    color: white;
  
  }
  .sale h1{
    text-align: center;
    color:white;
  }
  .sale span{
    color: aqua;
    
  }
  .round{
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .round h3{
    text-align: center;
    color: cyan;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border-style: dotted;
    padding: 5px;
    border-color: #fff;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    
    
  }
  
 .round ul{
    display: flex;
    display: inline block;

  }
  .round ul li{
    margin: 13px;
    list-style-type: none;

  }
  
  #six{
    color: goldenrod;
    font-size: 1.2rem;

  }
  #seven{
    color: white;
  }
  #saleround{
    text-align: center;
    font-size: 1.5rem;
    text-decoration-color: aquamarine;
  }

  .win{
    margin-top: 100px;
    text-align: center;
  }

  .win h2{
    font-style: normal;
    color: #fff;
    text-align: center;
    font-size: 3.2rem;

  }
  .win h1{
    text-align: center;
    color: #fff;
    font-size: 4rem;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
 
}
.win h3{
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 2.2rem;
}
#bttn{
  text-align: center;
  margin-top: 50px;
}

#card2{
  
  background-color: transparent;
  border-top-left-radius: 20%;
  border-color: indigo;
  

}
#card2:hover{
  background-color: indigo;
}
#card3{
  background-color: transparent;
  border-top-left-radius: 20%;
  border-color: blue;

}

#card3:hover{
  background-color: skyblue;
}

.mcards{
  border-color: #fff;
}


 .cards{
  
  float: left;
  padding: 15px;
  margin-left: 35px;
  margin-top: 100px;
  border-color: goldenrod;
  border-style: double;
  text-align: center;
  
  
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
 
 }
 #card0{
  border-style: none;
 }
 
 #card1{
  
  background-color: transparent;
  border-top-left-radius: 20%;
  border-color: goldenrod;
  

 }
 #card4{
  background-color: transparent;
  border-top-left-radius: 20%;
  border-color: cyan;
  

 }
 #card4:hover{
  background-color: rgb(79, 114, 102);
 }
 #card1:hover{
  background-color: goldenrod;
 }
 .cards img{
  width: 100%;
  border-radius: 50%;
  border-color: white;
  border-style: dotted;
  height: 200px;
  width: 200px;
 }
 .title1 h5{
  color: goldenrod;
  border-radius: 20px;
  border-color: goldenrod;
  background-color:rgb(223, 213, 190) ;
  border-width: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
 }
 .title1 h5:hover{
  background-color: rgb(223, 212, 149);
 }
 .text1 p{
  color: goldenrod;

 }
 .text1 p span{
  color: white;
  font-size: 1.5rem;
 }
 .title2 h5{
  color: indigo;
  border-radius: 20px;
  border-color: indigo;
  background-color:rgb(223, 213, 190) ;
  border-width: 10px;
  margin-top: 20px;
  margin-bottom: 40px
 }
 .title2 h5:hover{
  background-color: rgb(196, 140, 236);
 }
 .text2 p{
  color: indigo;

 }
 .text2 p span{
  color: white;
  font-size: 1.5rem;
 }

 .title3 h5{
  color: blue;
  border-radius: 20px;
  border-color: blue;
  background-color:rgb(223, 213, 190) ;
  border-width: 10px;
  margin-top: 20px;
  margin-bottom: 40px
 }
 .title3 h5:hover{
  background-color: rgb(71, 71, 226);
 }
 .text3 p{
  color: blue;

 }
 .text3 p span{
  color: white;
  font-size: 1.5rem;
 }
 .title4 h4{
  text-align: center;
  color: white;
  border-radius: 50%;
  border-color: cyan;
  border-style: double;
  height: 40px;
  width: 40px;
  margin-top: 100px;
 }
 .title4 h3{
  color: aquamarine;
  margin-bottom: 40px;
 }
 .text4 p{
  color: white;
  margin-bottom: 80px;
  margin-top: 50px;
  font-size: 1.3rem;
 }
 .join{
  margin-top: 80px;
  text-align: center;

  
 }
.Tournament{
  text-align: center;
}

 .Tournament h1{
  color: black;
  margin-top: 50px;
 }

 .win1{
  margin-top: 100px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  border-style: groove;
  border-color: aquamarine;
 }
 .win1:focus{
  outline: none;
  border-color: #26bf47;
  box-shadow: 0 0 10px #26bf47;
 }
 .win1:hover{
  border-color: goldenrod;
 }
 .win1 h1{
  color: white;
  margin-top: 150px;

 }
 .win1 h3{
  margin-top: 80px;
  color: #fff;
 }
 .win1 h3 span{
  color:aqua;
 }
 .win1 p{
  color: white;
  margin-top: 40px;
 }
 .win1 p span{
  color: aqua;
  margin-top: 20px;
 }
 .win1 button{
  margin-top: 60px;
  margin-bottom: 100px;
 }


.img1 img{
  float: left;
}
.img2 img{
  float: right;
}

#tokens{
  text-align: center;
  color: rgb(195, 255, 235);
  margin-top: 80px;
  margin-top: 80px;
}
 .tokencards{
float: left;

border-style: double;
text-align: center;
width: 40%;

height: 100%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
 }
 .tokenimg1 img{
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
 }
 #tokencard1{
  border-color: aquamarine;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
 }
 .card{
  background-color: transparent;
  margin-top: 80px;
  border-color: aquamarine;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
 }
 .card img{
  border-top-left-radius: 10%;
 }
 .card-title{
  color: aquamarine;
  
 }
 .card h5{
  color: goldenrod;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border-style: dotted;
 }
 .card h5 span{
  color: white;
 }
.card p{
  float: right;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  
  /* Should be removed. Only for demonstration */
}
.column h2{
  color: goldenrod;
  border-radius: 50%;
  width: 188px;
  height: 188px;
  border-style: dotted;
  border-color: white;
}
.column h2 span{
  color: white;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
#tokenbtn{
  margin-top: 20px;
  margin-bottom: 50px;
}
#tokentitle2{
  width: 200px;
  height: 200px;
  line-height: 40px;
  border-radius: 50%;
  
  color: goldenrod;
  text-align: center;
  background: #000
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1{
  background: transparent;
  margin-top: 50px;
}
.column1 h2{
  color: goldenrod;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-style: dotted;
  border-color: white;

}
.column1 h3{
  color: white;

}
.column1 h3 span{
  color: aquamarine;
}
.column1 p{
  color: white;
  margin-top: 5px;
}
#tokenbtn2{
  height: 65px;
  width: 180px;
  border-radius: 20px;
}
#tokenbtn3{
  height: 65px;
  width: 180px;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  
}
#tokenh4{
  margin-top: 40px;
  color: white;
}
#tokenbtnf{
  width: 360px;
  margin-top: 70px;
  margin-bottom: 60px;
  border-radius: 20px;
  height: 65px;
}

.cards2{
  float: left;
  padding: 15px;
  margin-left: 35px;
  margin-top: 100px;
  border-color: goldenrod;
  border-style: double;
  text-align: center;
  
  
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}
#scard1{
  
  background-color: transparent;
  border-top-left-radius: 10%;
  border-color: aquamarine;
  
}
#scard1:hover{
  border-color: greenyellow;
}
.imgs img{
  width: 100%;
  border-style: none;

}
.stext h6{
  color: white;
}

.stext h6 span{
  border-radius: 50%;
  color: aquamarine;
  height: 45px;
  width: 45px;
  
  
  border-style: double;
  align-content: center;
}
.stext h5{
  color: #fff;
}
.stext p{
  color: white;

}
.stext button{
  margin-bottom: 10px;
  margin-top: 20px;
  border-color: aquamarine;
  border-width: 2px;
}
#shop{
  width: 200px;
  height: 50px;
  border-color: aquamarine;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 120px;
}
#shop :hover{
  border-color: goldenrod;

}

#discord{
  
  
  size: 15cm;
  font-size: xx-large;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: aquamarine;
  border-style: inset;
}
#social{
  color: aliceblue;
  text-align: center;
}
.socialtext h2{
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
#smcard{
   
  background-color: transparent;
  border-style: none;
  margin-left: 60px;
}
#smicon{
  font-size: xx-large;
  color: aquamarine;
}
.smtext h5{
  color: #fff;
  margin-bottom: 50px;
}
.smtext h1{
  color: aquamarine;
  margin-bottom: 40px;
}
#smbtn{
  border-color: #fff;
  border-radius: 20px;
}
.Verify {
  color: aliceblue;
  text-align: center;
  margin-bottom: 120px;
}
.Verify span button{
  border-color: aquamarine;
  width: 150px;
  height: 50px;
  margin-left: 20px;
  
}
.immerse{
  text-align: center;
}
.immerse h1{
  color: rgb(211, 240, 230);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 3.7rem;
}
.immerse p{
  color: aliceblue;
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
}
.immerse button{
  border-radius: 20px;
  width: px;
  height: 55px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  border-color: aquamarine;
}
#game{
  border-radius: 20px;
}
#gamec{
  margin-top: 20px;
  margin-bottom: 100px;
}

.col-md-7 {
  text-align: center;
}
.col-md-7 h4{
  color: aliceblue;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
}
.col-md-7 h4 span{
  color: aquamarine;
}

.col-md-7 button{
border-color: aquamarine;
height: 50px;
margin-top: 60px;
}
#game-video{
  width: 100%;
  height: 500px;
  border-style: double;
  border-color: aquamarine;
  border-radius: 25px;
  margin-bottom: 60px;

}


#p2e{
color: aliceblue;
margin-top: 120px;
font-size: 3.7rem;
margin-bottom: 10px;
    
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(36, 230, 165), 0 0 40px rgb(27, 211, 150), 0 0 50px rgb(16, 241, 166), 0 0 60px aquamarine, 0 0 70px #31e298, 0 0 80px #33e49a;
  
    }
    
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px rgb(36, 230, 165), 0 0 40px rgb(27, 211, 150), 0 0 50px rgb(16, 241, 166), 0 0 60px aquamarine, 0 0 70px #31e298, 0 0 80px #33e49a;
  }
}
#rewards{
  border-style: none;
}
#rewardtxt{
  color: aliceblue;
  
}
.rewardbtn{
  margin-top: 60px;
}
.rewardbtn h3 button{
  border-radius: 20px;
  margin-right: 15px;
  height: 65px;
  border-color: aquamarine;
}
.rewardbtn h3 span a{
  color: aliceblue;
  font-size: 1remS;
}
#reward1{
  border-style: none;
}
#reward2body{
  margin-top: 30px;
}
#rewardimg{
  border-style: ridge;
  border-color: aquamarine;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  float: left;
  margin-right: 30px;
  
}
.rewardtxt2 h4{
  color: white;
  
}
.rewardtxt2 h4 span{
  font-size: 1.2rem;
}
.reward2{
  margin-top: 100px;
  
}
#reward3{
  border-style: none;
}
#rewardimg2{
  border-style: ridge;
  border-color: aquamarine;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  float: center;
  margin-right: 30px;
  
}
#spotlight{
  margin-top: 100px;
  text-align: center;
  color: aliceblue;
  font-size: 3.7rem;
  margin-top: 70px;

}
#spotlight{
  color: aliceblue;
  font-size: 3.7rem;
  text-align: center;
  justify-content: center;
  width: 100%;
}
#spot-card{
  border-color: white;
}
#spot-card:hover{
  border-color: aquamarine;
}
.spot-txt h5{
  margin-top: 20px;
}
#spot-txt1{
  color: rgb(245, 170, 8);
  margin-top: 50px;
  text-align: center;
}
#spot-txt1 span{
  color: white;
}
.spot-txt p{
  margin-bottom: 20px;
  float: left;
}
#spot-content1{
  color: white;
  font-size: 1.3rem;
}
#spot-btn{
  border-color: none;
  background-color: none;
  border-style: none;
  margin-left: 20px;
  font-size: 1.5rem;
  color: aquamarine;
}
#spot-btn:hover{
  background-color: rgb(245, 170, 8);
}

#spot-txt2{
  color: white;
  margin-top: 50px;
  text-align: center;
}

#spot-txt3{
  color: rgb(245, 170, 8);
  margin-top: 50px;
  text-align: center;
}
#spot-txt3 span{
  color: white;
}

#spot-txt4{
  color: white;
  margin-top: 50px;
  text-align: center;
}

#spot-txt4 span{
  color: rgb(245, 170, 8);
}

#spot-txt5{
  color: white;
  margin-top: 50px;
  text-align: center;
}

#spot-txt6{
  color: white;
  margin-top: 50px;
  text-align: center;
}

#spot-txt6 span{
  color: rgb(245, 170, 8);
}
 
#magic{
  text-align: center;
  color: aliceblue;
  font-size: 3.7rem;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}


  .profile{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
  

  }
  .profile-card{
    width: 320px;
    height: 400px;
    
    margin: 10px;
    border-radius: 25px;
    border-color: aquamarine;
    border-style: ridge;
  }
  .pimg1 img{
    width: 100%;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    justify-content: center;
    border-color: greenyellow, black;
    border-style: outset;
    margin-top: 30px;


  }
  .profile-card h1{
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;

  } 
  .profile-card p{
    color: rgb(194, 196, 199);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5px;
  }
  .profile-card h5{
    color: antiquewhite;
    text-align: center;
    margin-top: 5px;
  }
  .profile-card h3{
    color: aquamarine;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    margin-top: 20px;

  }

  #advisors{

    color: antiquewhite;
    font-size: 3.7rem;
    margin-top: 120px;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
  }
  #roadmap{
    color: aliceblue;
    text-align: center;
    font-size: 3.7rem;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .row{
    width: 100%;
    
  }
  #footer1{
    color: white;
    font-size: 1.2rem;
  }
  #footer-icon{
    color: aqua;
    padding: 5px;
  }
  #footer-icon2{
    color: rgb(248, 194, 56);
    padding: 5px;
    
  }
  #liner{
    width: 100%;
    height: 40px;
    color: transparent;
    border-radius: 30px;
    border-style: groove;
    border-color: aliceblue;
    margin-top: 50px;
    margin-bottom: 60px;

  }
  #footer2{
    color: white;
    font-size: 1.2rem;

  }

  #revenue{
    color: aliceblue;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    width: 100%;
    font-size: 3.7rem;
  }
  #revenuetxt{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
    
}
#revenuetxt button{
  border-color: aquamarine;
  width: 250px;
  height: 65px;
  border-radius: 30px;
  margin-right: 50px;
  padding: 10px;
}
#revenuetxt a{
  color: aquamarine;
}
#revenuetxt :hover{
  color: #fff;
  
}
.verification{
  margin-top: 160px;
  text-align: center;
  width: 100%;
}
.verification p{
  color: white;
  font-size: 1rem;
  text-align: center;
}
.verification p a{
  color: aquamarine;
}

.verification h1{
  color: white;
  font-size: 3.7rem;
  margin-top: 20px;
}
.verification h3{
  color: white;
  margin-top: 25px;
  margin-bottom: 60px;
}

.searchbar{
  width: 100%;
  text-align: center;
  
}
.searchbar input{
  height: 65px;
  width: 400px;
  flex-wrap: wrap;
  margin-bottom: 200px;
  border-radius: 30px;
  border-style: double;
  background-color: transparent;
  border-color: aquamarine;
}
#questions{
  color: white;
  width: 100%;
  text-align: center;
font-size: 3.2rem;
margin-bottom: 0px;

}
#zero{
  border-style: none;
  border-color: transparent;
  display: none;
}

.faqmain{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.faq{
  width: 580px;
  height: 400px;
}

#accordian{
  margin: 100px auto;
  width: 900px;
  
 
}
#accordian li{
  border-radius: 30px;
  border-style: groove;
  border-color: whitesmoke;
  border-width: 100%;
  list-style: none;
  width: 100%;
  margin-bottom: 30px;
  background: transparent;
  padding: 10px;
  
}
#accordian li:hover{
  border-color: aquamarine;
}

#accordian li label{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
#accordian li label span{
  transform: rotate(90deg);
  font-size: 22px;
  color: aquamarine;
}
#accordian label+input[type="radio"]{
  display: none;
}
#accordian .faqcontent{
  padding: 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  color: white;
}
#accordian label + input[type="radio"]:checked+.faqcontent{
  max-height: 500px;
}
#dot{
  border-top: 7px dotted white;
  width: 100%;
  margin-bottom: 50px;
}
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bottom-nav li{
  display: inline ;
}
#bnav{
  width: 100%;
  
  
}
#bnav-icons{
  padding: 5px;
  float: right;
  color: aquamarine;
  font-size: 1.8rem;
}
#bnav-icons a{
  color: white;
}
#bnav-icons a:hover{
  color: aquamarine;
}
#footer-btn{
  margin: 20px;
  border-radius: 30px;
  width: 200px;
  justify-content: center;
}
#footer-text{
  color: white;
  margin-bottom: 10px;
}
#footer-list li a{
  color: aliceblue;
}


